h1 {
    text-align:center;
    background-color: aqua;
}
h3{
    font-style: oblique;
    background-color: pink;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: purple;
}
.imagem1 {
    width: 20;
}
.introdução {
    background-color: forestgreen

}
.desenvolvimento {
   color: aqua;
}
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }
